/* Hero Section */

.hero-section {
  position: relative;
  min-height: calc(100vh - 73px);
}

.hero-section__background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-section__overlay {
  position: relative;
  height: calc(100vh - 73px);
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: clamp(44px, 6.6vw, 96px);
  margin-top: 12%;
  margin-bottom: 32px;
  font-weight: 1000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

@media screen and (max-width: 1000px) {
  .main-title {
    /* margin-top: 40%; */
    text-underline-offset: 15px;
  }
}

.hero-section__subtitle {
  font-family: var(--ff-title);
  font-size: var(--fz-18);
  line-height: 1.5;
  font-style: italic;
  max-width: 800px;
  padding: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.hero-section__cta {
  font-size: var(--fz-18);
  border: 1px solid #fff;
  transition: background-color 0.2s ease-out;
}

.hero-section__cta:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-out;
}

.video-toggler__container {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.video-toggler__label {
  color: #fff;
  cursor: pointer;
}

.video-toggler {
  display: none;
}

/* About section */

.about-section {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-inline: 16px;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-picture {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 32px;
}

.about__title {
  margin-bottom: 8px;
}

.about__text-content {
  margin-bottom: 16px;
}

@media screen and (min-width: 1600px) {
  .about-section {
    max-width: 1600px;
    padding-inline: 32px;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }

  .about-picture {
  }

  .about__text-content {
    max-width: 800px;
  }
}

/* Projects section */

.projects-section {
  padding-inline: 32px;
}

.project-card {
  max-width: 800px;
  margin: 0 auto;
  /* margin-inline: auto; */
  display: flex;
  background: #fff;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 32px;
  border-top-right-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.project-card__container--left {
  padding: 8px;
}

.project-card__container--right {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.image-container {
  width: 300px;
  object-fit: cover;
  overflow: hidden;
}

.project-picture {
  width: 100%;
}

.card__title {
  margin-bottom: 16px;
}

.project-link {
  margin-top: auto;
  margin-left: auto;
  transition: background-color 0.2s ease-out;
}

.project-link:hover {
  background-color: var(--beige);
  transition: background-color 0.2s ease-out;
}

@media screen and (min-width: 1600px) {
  .articles-container {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .project-card {
    max-width: 750px;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .project-card {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 350px) {
  .image-container {
    width: 250px;
  }
}

/* Rates Section */

.rates-section {
  display: flex;
  justify-content: center;
  gap: 128px;
  align-items: center;
}

.rates-table {
  border-collapse: collapse;
  /* margin: 0 auto; */
}

@media screen and (max-width: 900px) {
  .rates-section {
    flex-direction: column;
    gap: 0;
  }
}

/* Contact Section */

.contact-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact__subtitle {
  text-align: center;
  margin-bottom: 16px;
}

.contact__picture {
  max-width: 400px;
  margin-top: 32px;
  border-radius: 4px;
}

form {
  min-width: 50%;
}

.contact__button {
  transition: background-color 0.2s ease-out;
}

.contact__button:hover {
  background-color: var(--beige);
  transition: background-color 0.2s ease-out;
}

.horizontal-separator {
  display: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.contact__button {
  margin-left: auto;
  margin-top: 24px;
  background: #fff;
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 900px) {
  .contact-section {
    max-width: 600px;
  }
  .contact__content {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .vertical-separator {
    display: none;
  }

  .horizontal-separator {
    display: block;
  }

  form {
    min-width: 75%;
  }
}
